﻿@model KitapOtomasyonMVC.Models.tbl_yayinevi

@{
    ViewBag.Title = "Silme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yayınevi Silme</h2>

<h3>Bu yayınevini silmek istediğinize emin misiniz?</h3>
<div>
    <h4>tbl_yayinevi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yayinevi_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayinevi_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yayinevi_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayinevi_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yayinevi_eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayinevi_eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yayinevi_adresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayinevi_adresi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Yayınevi Listesine Dön", "Index")
        </div>
    }
</div>
