﻿@model KitapOtomasyonMVC.Models.tbl_yayinevi

@{
    ViewBag.Title = "Detaylar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yayınevi Detaylar</h2>

<div>
   
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yayinevi_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayinevi_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yayinevi_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayinevi_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yayinevi_eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayinevi_eposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yayinevi_adresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayinevi_adresi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Değiştir", "Edit", new { id = Model.yayinevi_id }) |
    @Html.ActionLink("Yayınevi Listesine Dön", "Index")
</p>
