﻿@model KitapOtomasyonMVC.Models.tbl_yayinevi

@{
    ViewBag.Title = "Değiştir";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yayınevi Değiştir</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.yayinevi_id)

        <div class="form-group">
            @Html.LabelFor(model => model.yayinevi_adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yayinevi_adi)
                @Html.ValidationMessageFor(model => model.yayinevi_adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yayinevi_tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yayinevi_tel)
                @Html.ValidationMessageFor(model => model.yayinevi_tel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yayinevi_eposta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yayinevi_eposta)
                @Html.ValidationMessageFor(model => model.yayinevi_eposta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yayinevi_adresi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yayinevi_adresi)
                @Html.ValidationMessageFor(model => model.yayinevi_adresi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Yayınevi Listesine Dön", "Index")
</div>
