﻿@model IEnumerable<KitapOtomasyonMVC.Models.tbl_yayinevi>

@{
    ViewBag.Title = "Yayınevleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yayınevi Listesi</h2>

<p>
    @Html.ActionLink("Yeni Yayınevi Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yayinevi_adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yayinevi_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yayinevi_eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yayinevi_adresi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.yayinevi_adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yayinevi_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yayinevi_eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yayinevi_adresi)
        </td>
        <td>
            @Html.ActionLink("Değiştir", "Edit", new { id=item.yayinevi_id }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.yayinevi_id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.yayinevi_id })
        </td>
    </tr>
}

</table>
