﻿@model KitapOtomasyonMVC.Models.tbl_kategori

@{
    ViewBag.Title = "AltKategoriler";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Alt Kategoriler</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.Label("Alt Kategori Adı :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("alt_kategori_adi")
            </div>
        </div>  

        <div class="form-group">
            @Html.LabelFor(model => model.kategori_adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.kategori_id, ViewBag.kategoriAdi as SelectList)
                @Html.ValidationMessageFor(model => model.kategori_adi)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Alt Kategoriler Listesine Dön", "Index")
</div>
