﻿@model KitapOtomasyonMVC.Models.tbl_altkategori

@{
    ViewBag.Title = "Silme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Alt Kategori Silme</h2>

<h3>Bu alt kategoriyi silmek istiyor musun ?</h3>
<div>
    <h4>tbl_altkategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.altkategori_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altkategori_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategorino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorino)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Alt Kategori Listesine Dön", "Index")
        </div>
    }
</div>
