﻿@model KitapOtomasyonMVC.Models.tbl_altkategori

@{
    ViewBag.Title = "Detaylar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>Alt Kategori Detayları</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.altkategori_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.altkategori_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategorino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorino)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Değiştir", "Edit", new { id = Model.altkategori_id }) |
    @Html.ActionLink("Alt Kategori Listesine Geri Dön", "Index")
</p>
