﻿@model KitapOtomasyonMVC.Models.tbl_altkategori

@{
    ViewBag.Title = "Değiştirme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Değiştirme</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Alt Kategori Değiştirme</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.altkategori_id)

        <div class="form-group">
            @Html.LabelFor(model => model.altkategori_adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.altkategori_adi)
                @Html.ValidationMessageFor(model => model.altkategori_adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kategorino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kategorino)
                @Html.ValidationMessageFor(model => model.kategorino)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Alt Kategori Listesine Dön", "Index")
</div>
