﻿@model IEnumerable<KitapOtomasyonMVC.Models.tbl_altkategori>

@{
    ViewBag.Title = "Alt Kategoriler";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Alt Kategori Listesi</h2>

<p>
    @Html.ActionLink("Yeni Alt Kategori Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.altkategori_adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategorino)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.altkategori_adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategorino)
        </td>
        <td>
            @Html.ActionLink("Değiştir", "Edit", new { id=item.altkategori_id }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.altkategori_id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.altkategori_id })
        </td>
    </tr>
}

</table>
