﻿@{
    ViewBag.Title = "İletişim";
}
<h2>Hakkımızda</h2>
<h3>Genel Merkezimiz</h3>

<p>Tel: 1111 111 11 11</p>
<p>Adress : London'da Opera binasına sırtınızı verdiğinizde gördüğünüz 2. ışıktan sağa döndüğünüzde 200 metre sonra soldayız.</p>
<p>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:700px;'>
        <div id='gmap_canvas' style='height:440px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.buyinstagramfollowersreviews.net/">buy instagram followers cheap</a></small></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important;
            }
        </style>
    </div>
    <script type='text/javascript'>function init_map() { var myOptions = { zoom: 10, center: new google.maps.LatLng(51.5073509, -0.12775829999998223), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(51.5073509, -0.12775829999998223) }); infowindow = new google.maps.InfoWindow({ content: '<strong>Kitap Evi</strong><br>London, United Kingdom<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
</p>
