﻿@model KitapOtomasyonMVC.Models.hepsi
@{
    ViewBag.Title = "Anasayfa";
}
<style>
    .showBooks {
        margin-left: 80px;
        float: left;
        max-width: 30%;
        max-height: 30%;
        margin-top: 50px;
    }

    .bookImage {
        width: 100px;
        height: 150px;
    }

    ul li:hover ul {
        display: block;
    }

    .rightMenu {
        position: absolute;
        float: right;
        top: 0;
        margin-left: 100%;
    }

    .social {
        margin-left: 10px;
        margin-top: 10px;
        width: 100px;
        height: 100px;
    }
</style>


<div class="row">

    <div class="col-md-2" style="margin-top:100px">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="~/home/index">Tüm Kategoriler</a></li>

            @foreach (var item in Model.hepsi_tbl_kategori)
            {
                <li class="dropdown-toggle">
                    <a href="~/home/index?kate=@item.kategori_id">
                        @Html.DisplayFor(a => item.kategori_adi)
                    </a>
                    <ul class="dropdown-menu rightMenu">
                        @foreach (var item2 in Model.hepsi_tbl_altkategori)
                        {
                            <li>
                                @if (item.kategori_id == item2.kategorino)
                                {
                                    <a href="~/home/index?kate=@item.kategori_id&altkate=@item2.altkategori_id">
                                        @Html.DisplayFor(a => item2.altkategori_adi)
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-10" style="float:right">
        <div>
            @foreach (var item in Model.hepsi_tbl_kitap)
            {
                <div class="showBooks">
                    <img class="bookImage" src="@Url.Content(item.kitap_resimadres)" />
                    @Html.LabelFor(m => item.kitap_adi)
                    @Html.DisplayFor(m => item.kitap_adi)
                    <br />

                    @foreach (var a in Model.hepsi_tbl_yazarlar)
                    {
                        if (item.yazarno == a.yazar_id)
                        {   @Html.LabelFor(x => a.yazar_adi)
                        @Html.DisplayFor(x => a.yazar_adi)
                        <output></output>
                        @Html.DisplayFor(x => a.yazar_soyadi)
                        <br />

                        }
                    }
                    <br />
                    @Html.LabelFor(m => item.kitap_fiyat)<b>:</b>
                    &#8378;
                    @Html.DisplayFor(m => item.kitap_fiyat) 

                </div>
            }
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <h2>Hakkımızda</h2>
        <p>
            Destek almak için kitap@evi.com
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Daha Fazlası için &raquo;</a></p>
    </div>
    <div class="col-md-5">
        <h2>Desteklediğimiz Yayınevleri</h2>
        <p><img style="width:400px;height:200px" src="\Social/yayınevleri.jpg" /></p>
    </div>
    <div class="col-md-4">
        <h2>Bizi izlemede kalın</h2>
        <p>
            <a href="https://www.facebook.com/m.karagozgil" target="_blank">
                <img class="social" src="\Social\facebook.png" />
            </a>
            <a href="https://twitter.com/mrtkrgzgl" target="_blank">
                <img class="social" src="\Social\twitter.png" />
            </a>
                <br />
            <a href="https://www.instagram.com/muratkrgzgl/" target="_blank">
                <img class="social" src="\Social\instagram.png" />
            </a>
            <a href="https://bitbucket.org/microsoftteam123/" target="_blank">
                <img class="social" src="\Social\bitbucket.png" />
            </a>
</p>
    </div>
</div>
