﻿@using KitapOtomasyonMVC.Controllers;
@if (Session["userid"] != null)
{   
    using (Html.BeginForm("LogOff", "Kullanici", new { @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hoşgeldiniz " + Session["username"]+ "!", "Index", "Kullanici", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Çıkış Yap", "LogOff", "Kullanici")</li>
    </ul>
    }
}
else
{            
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Kayıt Ol", "Register", "Kullanici")</li>
        <li>@Html.ActionLink("Giriş Yap", "Login", "Kullanici")</li>
    </ul>
}
