﻿@model KitapOtomasyonMVC.Models.tbl_account

@{
    ViewBag.Title = "Kullanıcı Silme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}
<h2>Kullanıcı Silme</h2>

<h3>Bu kullanıcı hesabını silmek istediğine emin misin ?</h3>
<div>
    <h4>Kullanıcılar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.account_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_confirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_confirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Kullanıcı Listesine Geri Dön", "Index")
        </div>
    }
</div>
