﻿

@model KitapOtomasyonMVC.Models.tbl_account

@{
    ViewBag.Title = "Hesap Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}
<h2>Kullanıcı Hesap Detayları</h2>

<div>
    <h4>Kullanıcı Hesapları</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.account_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_confirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_confirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Değiştir", "Edit", new { id = Model.accountID }) |
    @Html.ActionLink("Kullanıcı Listesine Geri Dön", "Index")
</p>
