﻿@model KitapOtomasyonMVC.Models.tbl_account

@{
    ViewBag.Title = "Değiştirme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}
<h2>Değiştirme</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kullanıcı verilerini değiştirme sayfası</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.accountID)

        <div class="form-group">
            @Html.LabelFor(model => model.account_username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_username)
                @Html.ValidationMessageFor(model => model.account_username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_password)
                @Html.ValidationMessageFor(model => model.account_password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_name)
                @Html.ValidationMessageFor(model => model.account_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_lastname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_lastname)
                @Html.ValidationMessageFor(model => model.account_lastname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_confirmPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_confirmPassword)
                @Html.ValidationMessageFor(model => model.account_confirmPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_email)
                @Html.ValidationMessageFor(model => model.account_email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kullanıcı Listesine Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
