﻿@model IEnumerable<KitapOtomasyonMVC.Models.tbl_account>

@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}

<h2>Kullanıcı Bilgileri</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account_username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account_lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account_email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account_username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account_lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account_email)
        </td>
        <td>
            @Html.ActionLink("Değiştir", "Edit", new { id=item.accountID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.accountID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.accountID })
        </td>
    </tr>
}

</table>
