﻿@model KitapOtomasyonMVC.Models.tbl_account

@{
    ViewBag.Title = "Giriş Ekranı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giriş Ekranı</h2>
<script>
    $(document).ready(function () {
        $("#success-alert").hide();
        $("#myWish").click(function showAlert() {
            $("#success-alert").alert();
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").alert('close');
            });
        });
    });

</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lütfen Giriş Yapınız</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong>
            Product have added to your wishlist.
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_username)
                @Html.ValidationMessageFor(model => model.account_username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_password)
                @Html.ValidationMessageFor(model => model.account_password)
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="myWish" type="submit" value="Giriş Yap" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
