﻿@model KitapOtomasyonMVC.Models.tbl_kitap


@{
    ViewBag.Title = "Kitap Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Kitap Ekleme</h2>

@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}

@using (Html.BeginForm("Create", "Kitap", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kitap Ekleme Sayfası</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_adi)
                @Html.ValidationMessageFor(model => model.kitap_adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_ozeti, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.kitap_ozeti, new { rows = "10", cols = "50" })
                @Html.ValidationMessageFor(model => model.kitap_ozeti)
            </div>
        </div>

        
        <div class="form-group">
              @Html.Label("Yazar Adi :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("yazar_adi")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Yazar Soyadi :", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("yazarsoyadi")
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.yayinevino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.yayinevino, ViewBag.yayineviAdi as SelectList)
                @Html.ValidationMessageFor(model => model.yayinevino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_kategorino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.kitap_kategorino, ViewBag.kategoriAdi as SelectList)
                @Html.ValidationMessageFor(model => model.kitap_kategorino)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.kitap_altkategorino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.kitap_altkategorino, ViewBag.altkategoriAdi as SelectList)
                @Html.ValidationMessageFor(model => model.kitap_altkategorino)
                @Html.HiddenFor(model => model.tbl_kategori.kategori_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_resimadres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file"/>
               
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.kitap_fiyat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_fiyat)
                @Html.ValidationMessageFor(model => model.kitap_fiyat)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.kitap_isbn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_isbn)
                @Html.ValidationMessageFor(model => model.kitap_isbn)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kitap Listeleme Geri Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
