﻿@model KitapOtomasyonMVC.Models.tbl_kitap

@{
    ViewBag.Title = "Silme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Silme Ekranı</h2>

@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}

<h3>Bu kaydı silmek istediğine emin misin ?</h3>
<div>
    <h4>tbl_kitap</h4>
    <hr />
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.kitap_adi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_adi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_ozeti)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_ozeti)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_altkategorino)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_altkategorino)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.yazarno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yazarno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.yayinevino)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yayinevino)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_kategorino)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_kategorino)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_isbn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_isbn)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.kitap_fiyat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_fiyat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_yayintarihi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_yayintarihi)
            </dd>

        </dl>
    </div>
    <div class="col-md-8">
        <img src="@Url.Content(Model.kitap_resimadres.ToString())" />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Kitap Listesine Geri Dön", "Index")
        </div>
    }
</div>
