﻿@model KitapOtomasyonMVC.Models.tbl_kitap

@{
    ViewBag.Title = "Kitap Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>Kitap Detayları</h4>
	<hr />
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.kitap_adi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_adi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_ozeti)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_ozeti)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_altkategorino)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_altkategorino)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.yazarno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yazarno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.yayinevino)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yayinevino)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_kategorino)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_kategorino)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_isbn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_isbn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_resimadres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_resimadres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_fiyat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_fiyat) TL
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kitap_yayintarihi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kitap_yayintarihi)
            </dd>

        </dl>
    </div>
    <div class="col-md-8">
          <img src="@Url.Content(Model.kitap_resimadres.ToString())" />
    </div>
</div>
<p>
    @Html.ActionLink("Değiştir", "Edit", new { id = Model.kitap_id }) |
    @Html.ActionLink("Kitap Listesine Geri Dön", "Index")
</p>
