﻿@model KitapOtomasyonMVC.Models.tbl_kitap

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_kitap</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.kitap_id)

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_adi)
                @Html.ValidationMessageFor(model => model.kitap_adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_ozeti, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_ozeti)
                @Html.ValidationMessageFor(model => model.kitap_ozeti)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_altkategorino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_altkategorino)
                @Html.ValidationMessageFor(model => model.kitap_altkategorino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yazarno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yazarno)
                @Html.ValidationMessageFor(model => model.yazarno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yayinevino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yayinevino)
                @Html.ValidationMessageFor(model => model.yayinevino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_kategorino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_kategorino)
                @Html.ValidationMessageFor(model => model.kitap_kategorino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_isbn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_isbn)
                @Html.ValidationMessageFor(model => model.kitap_isbn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_resimadres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_resimadres)
                @Html.ValidationMessageFor(model => model.kitap_resimadres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_fiyat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_fiyat)
                @Html.ValidationMessageFor(model => model.kitap_fiyat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kitap_yayintarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kitap_yayintarihi)
                @Html.ValidationMessageFor(model => model.kitap_yayintarihi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
