﻿@model IEnumerable<KitapOtomasyonMVC.Models.tbl_kitap>

@{
    ViewBag.Title = "Kitaplar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<center>
    <h2>@ViewBag.Title</h2>
</center>
<p>
    @Html.ActionLink("Yeni Kitap Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kitap_adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitap_ozeti)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.kitap_isbn)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.yazarno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yayinevino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitap_kategorino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitap_altkategorino)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.kitap_resimadres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitap_fiyat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kitap_adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitap_ozeti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitap_isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yazarno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yayinevino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitap_kategorino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitap_altkategorino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitap_resimadres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kitap_fiyat)
        </td>       
        <td>
            @Html.ActionLink("Değiştir", "Edit", new { id=item.kitap_id }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.kitap_id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.kitap_id })
        </td>
    </tr>
}

</table>
