﻿@model KitapOtomasyonMVC.Models.tbl_yazarlar

@{
    ViewBag.Title = "Yazar Oluşturma";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Yazarlar Oluşturma</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.yazar_adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yazar_adi)
                @Html.ValidationMessageFor(model => model.yazar_adi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yazar_soyadi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yazar_soyadi)
                @Html.ValidationMessageFor(model => model.yazar_soyadi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yazar_tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yazar_tel)
                @Html.ValidationMessageFor(model => model.yazar_tel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yazar_eposta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yazar_eposta)
                @Html.ValidationMessageFor(model => model.yazar_eposta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Yazarlar Listesine Dön", "Index")
</div>
