﻿@model KitapOtomasyonMVC.Models.tbl_yazarlar

@{
    ViewBag.Title = "Yazar Silme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Silme Ekranı</h2>

@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}

<h3>Bu yazarı silmek istediğine emin misin ?</h3>
<div>
    <h4>Yazar Sil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yazar_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_eposta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Yazar Listesine Dön", "Index")
        </div>
    }
</div>
