﻿@model KitapOtomasyonMVC.Models.tbl_yazarlar

@{
    ViewBag.Title = "Yazar Detaylar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}

<div>
    <h4>Yazar Detaylar</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yazar_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yazar_eposta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Değiştir", "Edit", new { id = Model.yazar_id }) |
    @Html.ActionLink("Yazar Listesine Dön", "Index")
</p>
