﻿@model IEnumerable<KitapOtomasyonMVC.Models.tbl_yazarlar>

@{
    ViewBag.Title = "Yazar Listesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yazar Listesi</h2>

@if (Session["userid"] == null)
{
    Response.Redirect("/Home");
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yazar_adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yazar_soyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yazar_tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yazar_eposta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.yazar_adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yazar_soyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yazar_tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yazar_eposta)
        </td>
        <td>
            @Html.ActionLink("Değiştir", "Edit", new { id=item.yazar_id }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.yazar_id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.yazar_id })
        </td>
    </tr>
}

</table>
