﻿@model KitapOtomasyonMVC.Models.tbl_kategori

@{
    ViewBag.Title = "Yeni Kategori";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yeni Kategori Oluşturma</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kategori</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.kategori_adi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kategori_adi)
                @Html.ValidationMessageFor(model => model.kategori_adi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kategoriler Listesine Dön", "Index")
</div>
