﻿@model KitapOtomasyonMVC.Models.tbl_kategori

@{
    ViewBag.Title = "Kategori Silme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Silme Sayfası</h2>

<h3>Bu kategoriyi silmek istediğine emin misin ?</h3>
<div>
    <h4>tbl_kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategori_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori_adi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Kategoriler Listesine Dön", "Index")
        </div>
    }
</div>
