﻿@model KitapOtomasyonMVC.Models.tbl_kategori

@{
    ViewBag.Title = "Detaylar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategori Detaylar</h2>

<div>
    <h4>Kategori detaylar sayfası</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategori_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori_adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Değiştir", "Edit", new { id = Model.kategori_id }) |
    @Html.ActionLink("Kategoriler Listesine Dön", "Index")
</p>
