﻿@model IEnumerable<KitapOtomasyonMVC.Models.tbl_kategori>

@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategori Listesi</h2>

<p>
    @Html.ActionLink("Yeni Kategori Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kategori_adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kategori_adi)
        </td>
        <td>
            @Html.ActionLink("Değiştir", "Edit", new { id=item.kategori_id }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.kategori_id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.kategori_id })
        </td>
    </tr>
}

</table>
